.vineThumbnails {
  display: block;
  position: relative;
  background: #FFF;
  border-radius: 1em;
  opacity: .65;
  width: 600px;
  margin: auto !important;
}

.thumbnailVideo {
  opacity: 0;
  border-radius: 1em;
  background: black;
  position: absolute;
  top: 0px;
}

.thumbnailImage {
  opacity: 1;
  border-radius: 1em;
}

.vineThumbnails:hover {
  opacity: 1;
  background: linear-gradient(to right, #FFF, #DDD);
}

.vineThumbnails:hover .thumbnailVideo {
  opacity: 1;
  position: absolute;
}

.indexForm {
  background: lightgrey;
  border-radius: 1em;
}

.indexHeader {
  margin-top: 2em;
  background: lightgrey;
}
